# ROS2 Workspace Ignored Files
/build/
/install/
/log/

# System Files
.DS_Store
*.swp
*.swo

# Python Caches
__pycache__/
*.py[cod]

# VSCode Settings (if using VSCode)
.vscode/

# Other Ignored Files
*.backup
